            * {
                margin: 0;
                border: 10px;
                padding: 0;
            }
            body {
                background-color: darkgrey;
                font: 14px/20px Arial, san-serif;
                color: darkslategrey;
                margin: 0px;
            }
            html {
                overflow-y: scroll;
            }
            aside {
                margin: 0 auto;
                width: 35%;
                height: auto;
                padding: 3%;
                float: right;
            }
            footer {
                float: left;
                clear: left;
                margin-top: 15px;
                margin-bottom: 15px;
                width: 100%;
                height: auto;
                padding-top: 1%;
            }
            footer p,
            footer h3 {
                color: #FFF;
            }
            footer p,
            a {
                color: #FFF;
                text-decoration: none;
            }
            ul.social li {
                display: inline;
            }
            ul.social li img {
                height: 50px;
            }
            footer.second {
                border-top: 1px solid #4D4E50;
                background-color: #333333;
                max-height: 50PX;
                text-align: center;
                opacity: 0.95;
            }
            header {
                background-color: darkcyan;
                width: 100%;
                height: 86px;
                top: 0;
                left: 0;
                z-index: 100%;
                opacity: 0.9%;
            }
            .nav {
                float: left;
                padding: 35px 20px 20px 0;
            }
            ul {
                list-style: none;
            }
            nav ul li {
                display: inline-block;
                float: left;
                padding: 10px;
            }
            /* Nav */

            header nav {
                float: right;
                margin-top: 10px;
            }
            header nav li {
                display: inline;
                margin-left: 15px;
            }
            p {
                padding: 2%;
            }
            h1 {
                text-align: center;
                font-size: 180%;
                line-height: 120%;
                padding: 5% 0;
            }
            h3 {
                line-height: 100$;
                padding: 5% 0;
            }
            #doc {
                margin: 40px 0px;
                height: 700px;
            }
            #content {
                margin: 5px auto;
                max-width: 1140px;
                margin-top: 110px;
                object-fit: contain;
            }
            .location,
            .map {
                padding-left: 10px;
                padding-right: 10px;
                display: inline-block;
                vertical-align: top;
            }
            .location {
                width: 30%;
            }
            .map {
                width: 60%;
            }
            /* Media Queries */

            @media screen and (max-width: 480px) {
                #sidebar {
                    display: none;
                }
                body {
                    position: absolute;
                }
            }
            @media screen and (max-width: 480px) {
                header {
                    position: absolute;
                }
                menu icon {
                    display: inline-block;
                }
                nav ul,
                nav:active ul {
                    display: none;
                    position: absolute;
                    padding: 20px;
                    background-color: #405580;
                    border: 1px solid #FFF;
                    right: 20px;
                    top: 60px;
                    width: 50px;
                    border-radius: 2px 0 2px 2px;
                }
                nav li {
                    text-align: center;
                    width: 100%;
                    padding: 10px 0;
                    margin 0;
                }
                nav:hover ul {
                    display: block;
                }
                article {
                    float: right;
                    width: 40%;
                    margin: 0;
                    padding: 0;
                }
                aside {
                    float: left;
                    width: 40%;
                    margin: 0;
                    padding: 0;
                }
            }
